h1 {
    font-size: 2.6em;
    margin-top: 1.5em;
    margin-bottom: -0.25em;
    color: #5e548e;
}

.header {
    word-spacing: 1em;
    margin-bottom: 3em;
}

body {
    background-color: #f9f4f5;
    font-size: 1.2em;
    margin: 0 auto;
    max-width: 40em;  
    line-height: 1.5;
    padding: 4em 1em;
}

p {
    margin: 0;
    margin-bottom: 1.5em;
    color: #9f86c0;
}

a:link, a:visited {
    text-decoration: none;
    color: #ce97d6;
}

a:hover {
    text-decoration: none;
    color: #ba71c4;
}