@import 'https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap';

h1 {
    font-size: 2.2em;
    margin-top: 1.5em;
    margin-bottom: -0.25em;
    color: #343434;
}

.header {
    word-spacing: 1em;
    margin-bottom: 3em;
}

body {
    margin: 0 auto;
    max-width: 40em;  
    line-height: 1.5;
    padding: 4em 1em;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

p {
    margin: 0;
    margin-bottom: 1.5em;
    color: #6a6a6a;
}

a:link, a:visited {
    text-decoration: none;
    color: #9b1dea;
}

a:hover {
    text-decoration: none;
    color: #6d07ac;
}